:root {
  --black: rgba(23, 23, 23, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-5: rgba(255, 255, 255, 1);
  --gray-10: rgba(255, 255, 255, 1);
  --gray-15: rgba(255, 255, 255, 1);
  --gray-25: rgba(255, 255, 255, 1);
  --gray-40: rgba(255, 255, 255, 1);
  --gray-60: rgba(255, 255, 255, 1);
  --gray-70: rgba(255, 255, 255, 1);
  --gray-80: rgba(255, 255, 255, 1);
  --gray-90: rgba(255, 255, 255, 1);
  --red: rgba(255, 255, 255, 1);
  --red-tr: rgba(255, 240, 243, 1);
  --violet: rgba(151, 71, 255, 1);
  --title-extrabold-32-font-family: "Manrope-ExtraBold", Helvetica;
  --title-extrabold-32-font-weight: 800;
  --title-extrabold-32-font-size: 32px;
  --title-extrabold-32-letter-spacing: 0.30000001192092896px;
  --title-extrabold-32-line-height: 38px;
  --title-extrabold-32-font-style: normal;
  --title-extrabold-24-font-family: "Manrope-ExtraBold", Helvetica;
  --title-extrabold-24-font-weight: 800;
  --title-extrabold-24-font-size: 24px;
  --title-extrabold-24-letter-spacing: 0.30000001192092896px;
  --title-extrabold-24-line-height: 28px;
  --title-extrabold-24-font-style: normal;
  --title-semibold-24-font-family: "Manrope-SemiBold", Helvetica;
  --title-semibold-24-font-weight: 600;
  --title-semibold-24-font-size: 24px;
  --title-semibold-24-letter-spacing: 0.30000001192092896px;
  --title-semibold-24-line-height: 28px;
  --title-semibold-24-font-style: normal;
  --body-extrabold-18-font-family: "Manrope-ExtraBold", Helvetica;
  --body-extrabold-18-font-weight: 800;
  --body-extrabold-18-font-size: 18px;
  --body-extrabold-18-letter-spacing: 0px;
  --body-extrabold-18-line-height: 24px;
  --body-extrabold-18-font-style: normal;
  --body-semibold-18-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-18-font-weight: 600;
  --body-semibold-18-font-size: 18px;
  --body-semibold-18-letter-spacing: 0px;
  --body-semibold-18-line-height: 24px;
  --body-semibold-18-font-style: normal;
  --body-extrabold-15-font-family: "Manrope-ExtraBold", Helvetica;
  --body-extrabold-15-font-weight: 800;
  --body-extrabold-15-font-size: 15px;
  --body-extrabold-15-letter-spacing: 0px;
  --body-extrabold-15-line-height: 24px;
  --body-extrabold-15-font-style: normal;
  --body-semibold-15-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-15-font-weight: 600;
  --body-semibold-15-font-size: 15px;
  --body-semibold-15-letter-spacing: 0.25px;
  --body-semibold-15-line-height: 24px;
  --body-semibold-15-font-style: normal;
  --body-extrabold-13-font-family: "Manrope-ExtraBold", Helvetica;
  --body-extrabold-13-font-weight: 800;
  --body-extrabold-13-font-size: 13px;
  --body-extrabold-13-letter-spacing: 0.25px;
  --body-extrabold-13-line-height: 20px;
  --body-extrabold-13-font-style: normal;
  --body-semibold-13-font-family: "Manrope-SemiBold", Helvetica;
  --body-semibold-13-font-weight: 600;
  --body-semibold-13-font-size: 13px;
  --body-semibold-13-letter-spacing: 0.25px;
  --body-semibold-13-line-height: 20px;
  --body-semibold-13-font-style: normal;
  --caption-bold-12-font-family: "Manrope-Bold", Helvetica;
  --caption-bold-12-font-weight: 700;
  --caption-bold-12-font-size: 12px;
  --caption-bold-12-letter-spacing: 0.25px;
  --caption-bold-12-line-height: 12px;
  --caption-bold-12-font-style: normal;
  --caption-extrabold-11-font-family: "Manrope-ExtraBold", Helvetica;
  --caption-extrabold-11-font-weight: 800;
  --caption-extrabold-11-font-size: 11px;
  --caption-extrabold-11-letter-spacing: 0.25px;
  --caption-extrabold-11-line-height: 12px;
  --caption-extrabold-11-font-style: normal;
  --caption-semibold-11-font-family: "Manrope-SemiBold", Helvetica;
  --caption-semibold-11-font-weight: 600;
  --caption-semibold-11-font-size: 11px;
  --caption-semibold-11-letter-spacing: 0.25px;
  --caption-semibold-11-line-height: 12px;
  --caption-semibold-11-font-style: normal;
  --caption-bold-9-font-family: "Manrope-Bold", Helvetica;
  --caption-bold-9-font-weight: 700;
  --caption-bold-9-font-size: 9px;
  --caption-bold-9-letter-spacing: 0.25px;
  --caption-bold-9-line-height: 12px;
  --caption-bold-9-font-style: normal;
  --simple-2px: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  --spread-2px: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
  --simple-8px: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}
